
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    margin-top: 20px;
    position: sticky;top: 1px;
}

.container{justify-content: space-between;
    max-width: 1200px;
    padding: 16px;
    display: flex;
    align-items: center;
    margin: auto;
    color: aliceblue;
    background-color: cornflowerblue;
    border-radius: 30px;
    padding: 2px 10px;
    
     
}

.nav{
    
    align-items: center;
    display: inline-flex;
}
.tube{margin-left: 2px;
    text-shadow: 2px 2px 3px rgb(252, 79, 197);
    /* display: flex; */
    font-weight: 400;
    letter-spacing: 4px;
}

.nav-links{
    display: flex ;
    list-style: none;
    gap: 50px;
}
a{color: aliceblue;
    text-decoration: none;
    cursor: pointer;
}
.nav-toggle{display: none;
      color: black;                
}





#hero-section{
    margin-top: 20px;
    margin-left: -50px;
}

.container-2{
    /* margin: auto; 
    padding: 30px; 
    max-width: 1200px; */
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.lead{
    font-size: 3vw;
}
.design{
    color: cornflowerblue;
}
.join{color: aliceblue  ;
    background-color: cornflowerblue;
    border: none;
    border-radius: 20px;
    padding: 3px;
    margin-top: 3px;
}
.services{margin-top: 50px;
    text-align: center;
}
.ss{
    color: cornflowerblue;
}

.cards{margin-top: 30px;
    color: white;
    display: flex;
    flex-wrap: wrap ;flex-direction: row;
    justify-content: space-around;
    gap: 20px;margin-left:50px ;margin-right: 50px;
}
.first{
background-color: rgb(141, 174, 236);
padding: 20px;border-radius: 12px;
text-align: center;
}

.second-card{
    background-color: rgb(113, 157, 239);
    padding: 20px;border-radius: 12px;
    text-align: center;
    }
    .third-card{
        background-color: rgb(84, 138, 238);
        text-align: center;
        padding: 20px;
        border-radius: 12px;
        }
        .fourth-card{text-align: center;
            background-color: cornflowerblue;
            padding: 20px;border-radius: 12px;
            }
 .ready , .technology , .useful , .tech{
               font-weight: 600;
               color: aliceblue;
            }
           

            .services-2{
                text-align: center;
                margin-top: 100px;
            }

            .cources{
              display: flex;flex-wrap: wrap; 
              align-items: center; 
              margin-left: 180px;
            }

            .course-list{
             display: inline-block;
              
               margin-left: 250px;
                margin-top: 30px;
                font-size: 20px;
            
            }
            .web{padding: 5px 15px;
                border-radius: 25px;
                border: solid black;
            }
             .graphic{margin-top: 10px;
                border: solid black;
                padding: 5px 15px;
                border-radius: 25px;
             }
            .w-design{margin-top: 10px;
                border: solid black;
                padding: 5px 15px;
                border-radius: 25px;
            }
            
            .word{margin-top: 10px;
                padding: 5px 15px;
                border-radius: 25px;
                border: solid black;
            }
            
             .course-details {display: flex;
                color: black;
                margin-top: 30px;
                margin-left: 170px;
            }

            .crs-img img{
                height: 180px ;
                width: 160px;
                /* width: 13vw;
                height: 30vh; */
                border-radius: 7px 0px 0px 7px;
            }
            
            .dev{color: white;
                background-color: rgb(61, 107, 234);
                padding: 15px 5px 0px 5px;
                 border-radius: 0px 7px 7px 0px;
                 width: 250px;
                 height: 180px;
                font-size: 11px;
                /* margin-top: -4px; */
                margin-left: 0px;
                
            }


            #contact-bar{border-radius: 15px;
                
                box-shadow: 3px 3px 4px blue,
                -3px -3px 4px blue;

                padding: 30px 100px;
                margin-top: 100px;
                margin-left: 500px;
                text-align: center;
                border: solid black;
                display: inline-block;
                align-items: center;
            } 
          
            
         #contact-bar input , textarea{
            display: block;margin-top: 20px;
            padding-left: 3px;
border-radius: 50px;
         }  
         #contact-bar textarea{padding-top: 3px;
            margin-top: 10px;
         }
         .in-touch{
            margin-top: 10px;

         }
         #contact-bar button{
            margin-top: 10px;
            background: linear-gradient(to right bottom blue pink lime);
            background-color: rgb(170, 194, 239);
            border: none;
            padding: 2px 22px;
            border-radius: 12px;
         }
         .footer img{
            width: 100%;
            height: 300px;
            margin-bottom: -10px;
         }

         .btn{
            display: none;
         }



         







            
            
            
        



@media only screen and (min-width: 320px) and (max-width: 520px) {
   
    .nav-links{
        position: absolute;lef: -500px;
        flex-direction: column;
        background-color: grey;
        left: -100%;
        top: 100%;
        align-items: center;
        padding-block: 20px;
        width: 100%;
       
    }
    .nav-links.active{
        left: 0;
    }
    .hover-link{
        color: white;
        
    }
    .nav{

    }
    .nav-toggle{display: block;
        position: relative;left:330px ;top: -35px;
        margin: 20px
        height:20px ;
        width: 20px;
    }
    
    

    #hero-section{
        margin-left: 1px;
    }
  .cards{
    flex-direction: column;
    align-items: center;
    
  }
   .first {
   margin-left: -17px;
    padding: 22px 90px;
    font-size: 4vw;
    }
    .second-card{
        padding: 30px 80px;
        font-size: 3vw;
        margin-left: -15px;

    }
    .third-card{
        padding: 30px 85px;
        font-size: 3vw;
        margin-left: -14px;
    }
    .fourth-card{
        padding: 25px 88px;
        font-size: 4vw;
        margin-left: -16px;
    }
    .ready , .technology , .useful , .tech{
        font-size: 17px;

    }

    .cources{
        margin-left: 18px;
    }
    .course-details{display: block;
    margin-left: 92px;
    }
    .course-list{display: block;
       
    }
    .web{padding-right: 5%;
        text-align: center  ;
        margin-left: -190px;
        margin-right: 70px;
    }
    .graphic{text-align: center;
        margin-left: -190px;
        margin-right: 70px;
    }
    .w-design{text-align: center;
        margin-left: -190px;
        margin-right: 70px;
    }
    .word{text-align: center;
        margin-left: -190px;
        margin-right: 70px;
    }
   
    .dev{color:white;
        height: 100px;
        width: 250px;
        padding: 1px 1px 1px 10px;
        border-radius: 5px 5px 5px 5px;
        font-size: 13px;
         margin-left: -45px;
        /*margin-top: -5px; */
    }
    .crs-img img{
        border-radius: 5px 5px 5px 5px;
        /* height: 15vh;
        width: 24vw; */
        height:150px ;
        width: 250px;
        margin-left: -45px;
    }
  .template-mod{
    display: none;
  }
  #contact-bar{padding: 10px 18px;
    margin-left: 60px;
  }
  .footer img{
   height: 140px;
    margin-bottom: -10px;
 }
 .btn{display: block;
    position: absolute;
    top: 2300px;left: 100px;
    border: none;
    padding: 3px 8px;
    border-radius: 50px;
    box-shadow: 3px 3px 3px blueviolet,
    -3px -3px 3px blueviolet;color: white;

    background: linear-gradient(to left ,rgb(230, 91, 230),rgb(81, 230, 244) );
 }
